.my-btn-blu {
  display: flex;
  flex-wrap: nowrap;
  font-size: 12px;
  font-weight: bold;
}
.title-h3 {
  padding-bottom: 7px;
}

.my-card {
  // &::after{
  // }
  img {
    opacity: 0.6;
  }
  &:hover {
    img {
      opacity: 1;
    }
     border-bottom: 5px solid rgb(0, 139, 204)!important;

  }
}