.container-generale-ps {
  width: 100%;
  min-height: 550px;
  position: relative;
  .container-slide-ps {
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    &.active {
      opacity: 1;
    }
    display: flex;
    .freccia {
      position: absolute;
      width: 30px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .text-container-ps {
      position: absolute;
      right: 20px;
      bottom: 0;
      color: white;
    }
  }
}
.container-text-slide-ps{
    padding-top: 20%;
}

.container-small-cards-ps {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
  .my-small-card {
    width: 200px;
    transition: all 0.2s ease-in;
    position: relative;
    img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 20px;
    }
  }
  :hover {
    transform: translateY(-8px);
  }
  ::after {
    content: "";
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: -5px;
    left: -5px;
    border: 2px solid #0072ce;
    position: absolute;
    border-radius: 20px;
    display: none;
  }
}
.my-small-card:hover::after {
  display: block;
}
